$color: #3e1616;
$border-color: #f7e4e5;
$border-radius: 4px;
$hover-color: #c98f94;
$bg:#fdf1f3;
.format-header {
  color: #3e1616;
  h1 {
    font-weight: bold;
    font-size: 20px;
  }
  hr {
    margin: 10px 0 15px 0;
    border: none;
    border-bottom: 1px solid $border-color;
  }
}
.format-section {
  margin-top: 20px;
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
  }
  .format-sample {
    padding: 15px;
    border: 1px solid $border-color;
    border-radius: $border-color;
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  .format-code-text{
      font-size: 12px;
      position: relative;
      .format-copy{
        position: absolute;
        top: 10px;
        right: 10px;
        display: block;
        .icon{
          width: 25px;
          height: 25px;
          cursor: pointer;
          display: none;
        }
      }
      &:hover{
        .icon{
          display: block;
        }
      }
      @media (max-width:500px) {
        .format-copy{
          .icon{
            display: block;
          }
        }
      }
  }
  .format-code-btn {
    padding: 15px 0;
    background: $bg;
    text-align: center;
    color: $hover-color;
    cursor: pointer;
  }
}

.simple-args{
  h2{
    font-size: 16px;
    margin: 20px 0;
    font-weight: bold;
  }
  table{
      background-color: #fff;
      color: #5e6d82;
      font-size: 14px;
      border-collapse: collapse;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      th{
        border: 1px solid $border-color;
        padding: 8px 16px;
        text-align: left;
        background: $bg;
        white-space: nowrap;
        font-weight: 600;
        font-size: 15px;
      }
      td{
        padding: 8px 16px;
        border: 1px solid $border-color;
        font-size: 12px;
      }
      @media (max-width:500px) {
        th{
          padding: 8px 3px;
          font-size: 12px;
        }
        td{
          padding: 8px 3px;
        }
      }
  }

}